# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
venv/
.env.*

# Databases
dev.db
*.sqlite
*.sqlite3

# Node / React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
backend/.env
.env
env
backend/env
