version: "3.9"

services:
  db:
    image: postgres:15
    container_name: guyana-booker-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: booker
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
       - "8001:8001"

  backend:
    build: ./backend
    container_name: guyana-booker-backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db
    volumes:
      - ./backend/app:/app/app
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: guyana-booker-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  db-data:
